body {
    font-family: "Gilroy-Medium-☞", Helvetica;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px;
    transition: 0.2s linear all;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li a:hover {
    color: #00bfa6;
}

.logo span {
    color: #00bfa6;
}

.logo a {
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    color: black;
}

header{
    padding: 15px;
    box-shadow: -2px 5px 5px black;
}

