@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-size: 20px;
}

body,
input {
    font-family: 'Poppins', sans-serif;
}

.sing-up-frame {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}

form {
    display: flex;
    /*Distributes Flex-items along the Cross Axis */
    align-items: center;
    /*Distributes Flex-items along the Main Axis */
    justify-content: center;
    flex-direction: column;
    /* overflow: hidden; */
    padding: 0rem 5rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
    /* border: 1px solid black; */
    padding: 1em;
    padding-top: 7em;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.btn {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 48px;
    cursor: pointer;
    background-color: #20dbc2;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #00bfa6;
}

.social-text {
    padding: 0.7rem 0;
    display: none;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
    border-radius: 50%;
    transition: all 0.5s;
    display: none;
}

.social-icon:hover {
    color: #20dbc2;
    border-color: #00bfa6;
}

input[type=radio] {
    --s: 1em;
    /* control the size */
    --c: #009688;
    /* the active color */

    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s)/8) solid #939393;
    padding: calc(var(--s)/8);
    background: radial-gradient(farthest-side, var(--c) 94%, #0000) 50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(var(--s)/10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: .3s;
}

input[type=radio]:checked {
    border-color: var(--c);
    background-size: 100% 100%;
}

input[type=radio]:disabled {
    background:
        linear-gradient(#939393 0 0) 50%/100% 20% no-repeat content-box;
    opacity: .5;
    cursor: not-allowed;
}

@media print {
    input[type=radio] {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
        background: none;
    }
}

label {
    gap: 10px;
    margin-top: 5px;
    margin: 5px 0; 
    cursor: pointer;
}

.hidden-toggles {
    margin: 20px;
}